[header_chain]
enable = false 
init_input = false 
esplora_url = "http://127.0.0.1:13002"
start = 116000
#start = 1000
block_headers = "../circuits/data/header-chain/block_headers.bin"
force_fetch = true 

batch_size = 10 
input_proof = "../circuits/data/header-chain/0-116000.bin"
output_proof = "../circuits/data/header-chain/116000-10.bin"
bitcoin_network = "regtest"

[commit_chain]
enable = false 
esplora_url = "http://127.0.0.1:13002"
commit_info = "../circuits/data/commit-chain/commit_info.json.0"
commits = "../circuits/data/commit-chain/commits.bin"
init_input = true 
start = 0 
batch_size = 1
input_proof = "../circuits/data/commit-chain/0-1.bin"
output_proof = "../circuits/data/commit-chain/0-1.bin"
bitcoin_network = "regtest"

[state_chain]
enable = false 
init_input = true 
#l2_contract_address = "0x21f619040AC2eAcacEF8Fe17Ae8bDF53ec69C66f"
l2_contract_address = "0x26Aa99d72f5f85D60A1B44773B3897793981B7F7"
#proceed_withdraw_method_id = "0xc3342df3"
proceed_withdraw_method_id = "0xd3d8a3f4"
#start = 9511050
start = 10207974
batch_size = 40
execution_layer_rpc = "https://rpc.testnet3.goat.network"
blocks = "../circuits/data/state-chain/state.blocks"
## input_proof is optional when init_input=true
input_proof = "../circuits/data/state-chain/10207974-40.bin"
output_proof = "../circuits/data/state-chain/10207974-40.bin"
goat_network = "goattest"
cosmos_rpc_url = "https://rpc.testnet3.goat.network/goat-rpc"

[watchtower]
enable = false 
esplora_url = "http://127.0.0.1:13002"
genesis_sequencer_commit_txid = "5d5a29e1c426abc4b947f90b93c6b043683aafad79cb3b9a9829dfd5e51cad09"
latest_sequencer_commit_txid = "dac7516877b069dac6d2b0430e8b23812392665ecbb0c36c78c8acd12ddc929e"
header_chain_input_proof = "../circuits/data/header-chain/420-10.bin"
commit_chain_input_proof = "../circuits/data/commit-chain/5-1.bin"
state_chain_input_proof = "../circuits/data/state-chain/10319189-40.bin"
output = "../circuits/data/watchtower/output.bin"
index = 1
bitcoin_network = "regtest"

[operator]
enable = true 
esplora_url = "http://127.0.0.1:13002"
genesis_sequencer_commit_txid = "5d5a29e1c426abc4b947f90b93c6b043683aafad79cb3b9a9829dfd5e51cad09"
latest_sequencer_commit_txid = "dac7516877b069dac6d2b0430e8b23812392665ecbb0c36c78c8acd12ddc929e"
watchtower_challenge_init_txid = "8e6c8c54cde0404bd7c2928878cdcfb531da7bb8a9935cfb632c8183446cdaf9"
watchtower_challenge_txids = "8d3495cc7a0b0627d4e7bc19215e14ea858c97e768b2ce63b2ce2de0d1088db9"
watchtower_public_keys = "03e7a08db9093c279535bd0078582469b82bf9f12c6dcb7588e187d2b9cc724279" 

header_chain_input_proof = "/home/ubuntu/data/proof-builder-rpc/circuits/data/header-chain/440-10.bin"
commit_chain_input_proof = "/home/ubuntu/data/proof-builder-rpc/circuits/data/commit-chain/5-1.bin"
state_chain_input_proof =  "/home/ubuntu/data/proof-builder-rpc/circuits/data/state-chain/10320989-40.bin"
output = "../circuits/data/operator/output.bin"
included_watchtowers = "1"
graph_id="86F23E650F6D447885CA320E6BA27ABD"
execution_layer_block_number = 10321027
index = 1
bitcoin_network = "regtest"
